/* TEMPORARY STYLES -- CONVERT TO TAILWIND */

.available-clinics .roster,
.clinic-profile .available-doctors,
.appointments-open .patient-appointments,
.appointments-booked .unbooked-appointments{
  display: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

.roster img{
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.flex-temp{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 75px;
}
